<ion-view view-title="Tela Inicial 02">
    <ion-content>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Pesquisar">
        </label>




        <ion-list class="card stable-bg">

          <ion-item  class="item-thumbnail-left">

            <img ng-src="https://prazeresmundanos.files.wordpress.com/2013/10/fachada-bar-do-david.jpg">
            <h2>Distribuidora Chico Almeida</h2>
            <p><i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12</p>

            <ion-option-button class="button-positive" >
              Compartilhar
            </ion-option-button>

            <ion-option-button class="button-assertive">
              Editar
            </ion-option-button>

          </ion-item>

          <ion-item  class="item-thumbnail-left">

            <img ng-src="https://prazeresmundanos.files.wordpress.com/2013/10/fachada-bar-do-david.jpg">
            <h2>Distribuidora Chico Almeida</h2>
            <p><i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12</p>

            <ion-option-button class="button-positive" >
              Compartilhar
            </ion-option-button>

            <ion-option-button class="button-assertive">
              Editar
            </ion-option-button>

          </ion-item>


          <ion-item  class="item-thumbnail-left">

            <img ng-src="https://prazeresmundanos.files.wordpress.com/2013/10/fachada-bar-do-david.jpg">
            <h2>Distribuidora Chico Almeida</h2>
            <p><i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12</p>

            <ion-option-button class="button-positive" >
              Compartilhar
            </ion-option-button>

            <ion-option-button class="button-assertive">
              Editar
            </ion-option-button>

          </ion-item>

        </ion-list>














     <div class="card stable-bg">
           <a class="item" href="#">
            <img src="https://prazeresmundanos.files.wordpress.com/2013/10/fachada-bar-do-david.jpg">

              <h2 align="center">Distribuidora Chico Almeida</h2>

              <div class="item-text-wrap">
                <div class="row" style="color: tomato;" align="center">

                  <div class="col col-50">
                    <i class="icon ion-map"></i> 1,2 Km
                  </div>

                  <div class="col col-50">
                      <i class="icon ion-social-usd"></i> 23,99
                    </div>
                  </div>

                  <div class="row" style="color: tomato;" align="center">
                    <div class="col">
                      <i class="icon ion-cash"></i> Dinheiro

                      <i class="icon ion-card"></i> Visa, MasterCard
                    </div>
                  </div>

                  <div class="row" style="color: #4A3733;" align="center">
                    <div class="col">
                      <i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12
                    </div>
                  </div>

                </div>
             </a>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-beer"></i> Outras Ofertas
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-map"></i> Mapa
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-android-share-alt"></i> Compartilhar
                </a>
            </div>
        </div>





     <div class="card stable-bg">
           <a class="item item-thumbnail-left" href="#">
              <img src="img/jon-snow.jpg">
              <h2>Distribuidora Chico Almeida</h2>
              <div class="item-text-wrap">
                <p>
                  <i class="icon ion-map"></i> 1,2 Km
                </p>
                <p>
                  <i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12
                </p>
                <p>
                  <i class="icon ion-social-usd"></i> R$ 23,99
                </p>
                <p>
                  <i class="icon ion-cash"></i> Dinheiro <i class="icon ion-card"></i> Visa, MasterCard
                </p>
              </div>
            </a>

            <img src="https://prazeresmundanos.files.wordpress.com/2013/10/fachada-bar-do-david.jpg">

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-beer"></i> Outras Ofertas
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-map"></i> Mapa
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-android-share-alt"></i> Compartilhar
                </a>
            </div>
        </div>


         <div class="card stable-bg">
           <a class="item item-thumbnail-left" href="#">
              <img src="img/arya.jpg">
              <h2>Distribuidora do Renato</h2>
              <div class="item-text-wrap">
                <p>
                  <i class="icon ion-map"></i> 1,2 Km
                </p>
                <p>
                  <i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12
                </p>
                <p>
                  <i class="icon ion-social-usd"></i> R$ 23,99
                </p>
                <p>
                  <i class="icon ion-cash"></i> Dinheiro <i class="icon ion-card"></i> Visa, MasterCard
                </p>
                <p>
                  <img src="http://gcn.net.br/dir-arquivo-imagem/2013/11/%7B20131101114922%7D_cervejaria_devassa02.jpg">
                  <!-- <img src="https://www.eda.admin.ch/content/dam/eda/img/Stadtkarten/GBR_London_20140613_D.png/_jcr_content/renditions/original"> -->
                </p>
              </div>
            </a>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-beer"></i> Outras Ofertas
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-map"></i> Mapa
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-android-share-alt"></i> Compartilhar
                </a>
            </div>
        </div>


         <div class="card stable-bg">
           <a class="item item-thumbnail-left" href="#">
              <img src="img/sansa.jpg">
              <h2>Distribuidora Rosa Mélia</h2>
              <div class="item-text-wrap">
                <p>
                  <i class="icon ion-map"></i> 1,2 Km
                </p>
                <p>
                  <i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12
                </p>
                <p>
                  <i class="icon ion-social-usd"></i> R$ 23,99
                </p>
                <p>
                  <i class="icon ion-cash"></i> Dinheiro <i class="icon ion-card"></i> Visa, MasterCard
                </p>
                <p>
                  <img src="https://cdn.guiasrbs.com.br/5uoU5vCNhFHL19ZdFMQmLU4auWM=/620x330/smart/www.guiadasemana.com.br/system/pictures/2011/12/36947/cropped/boteco-sao-bernardo.jpg">
                  <!-- <img src="https://www.eda.admin.ch/content/dam/eda/img/Stadtkarten/JPN_Tokyo_20140613_D.png/_jcr_content/renditions/original"> -->
                </p>
              </div>
            </a>
        </div>

        <div class="card stable-bg">
           <a class="item item-thumbnail-left" href="#">
              <img src="http://assets.angeloni.com.br/images_editor/cerveja_budweiser_long_neck.jpg">
              <h2>Pretty Hate Machine</h2>
              <div class="item-text-wrap">
                <p>
                  <i class="icon ion-map"></i> 1,2 Km
                </p>
                <p>
                  <i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12
                </p>
                <p>
                  <i class="icon ion-social-usd"></i> R$ 23,99
                </p>
                <p>
                  <i class="icon ion-cash"></i> Dinheiro <i class="icon ion-card"></i> Visa, MasterCard
                </p>
              </div>
            </a>
        </div>

        <div class="card stable-bg">
           <a class="item item-thumbnail-left" href="#">
              <img src="https://i.ytimg.com/vi/-sWUVV8A4MY/maxresdefault.jpg">
              <h2>Pretty Hate Machine</h2>
              <div class="item-text-wrap">
                <p>
                  <i class="icon ion-map"></i> 1,2 Km
                </p>
                <p>
                  <i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12
                </p>
                <p>
                  <i class="icon ion-social-usd"></i> R$ 23,99
                </p>
                <p>
                  <i class="icon ion-cash"></i> Dinheiro <i class="icon ion-card"></i> Visa, MasterCard
                </p>
                <p>
                  <img src="https://i.ytimg.com/vi/-sWUVV8A4MY/maxresdefault.jpg">
                </p>
              </div>
            </a>
        </div>


        <div class="card stable-bg">
           <a class="item item-thumbnail-left" href="#">
              <img src="http://www.papodebar.com/wp-content/uploads/2014/04/budweiser.jpg">
              <h2>Pretty Hate Machine</h2>
              <div class="item-text-wrap">
                <p>
                  <i class="icon ion-map"></i> 1,2 Km
                </p>
                <p>
                  <i class="icon ion-beer"></i> Skol Long Neck - Caixa com 12
                </p>
                <p>
                  <i class="icon ion-social-usd"></i> R$ 23,99
                </p>
                <p>
                  <i class="icon ion-cash"></i> Dinheiro <i class="icon ion-card"></i> Visa, MasterCard
                </p>
                <p>
                  <img src="http://www.papodebar.com/wp-content/uploads/2014/04/budweiser.jpg">
                </p>
              </div>
            </a>
        </div>







    </ion-content>
</ion-view>
